.heroImg {
    border-radius: 0.5rem;
}

.header {
    position: relative;
}

.textWrapper {
    position: absolute;
    top: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 75%;
}

@media (min-width: 768px) {
    .textWrapper {
        width: 50%;
        text-align: left;
        align-items: flex-start;
    }
}

@media (min-width: 1200px) {
    .textWrapper {
        left: 2rem;
    }
    .textWrapper h2 {
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
    }
}
