:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --dark-cyan: hsl(179, 81%, 29%);
    --dark-grey: hsl(215, 19%, 25%);
    --light-grey: hsl(215, 5%, 54%);
    --pale-orange: hsl(25, 94%, 86%);
    --light-creme: hsl(43, 78%, 98%);

    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
.h1 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.title-lg {
    font-size: 150px;
    line-height: 72px;
    font-weight: 700;
    color: var(--light-grey);
}

p,
.text-body {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--light-grey);
}

.nav-text {
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1;
    color: var(--light-grey);
}

body {
    padding: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: var(--dark-cyan);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #66d2cf;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: calc(100% - 2rem);
    margin: 0 auto;
}

@media (min-width: 768px) {
}
@media (min-width: 1200px) {
    .wrapper {
        max-width: 1300px;
    }
}
