.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0 4rem 0;
}

.wrapper {
}

.arrow__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

    .cardWrapper {
        width: 33%;
    }
}
